<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techfluence</title>
</head>
<body>
    <center>
        <h1>Alert !! Emergency !! Urgent Action Required !!</h1>
        <h3>Ventricular-Ectopic Beats (Abnormal and Life Threatening)</h3>
        <a href="https://maps.google.com/?q={{lat}},{{lon}}"><button>Location</button></a>
    </center>
</body>
</html>